:root {
    --brand-color-blue-light-hover: #188CE8;
    --brand-color-blue-light: #2196F3;
    --brand-color-blue: #3f51b5;    
    --brand-color-black: #000000;
    --brand-color-black-light: #212121;
    --brand-color-black-dark: #2F303A;
    --brand-color-gray: #757575;
    --brand-color-gray-light: #F5F4FA;
    --brand-color-gray-border: #EEEEEE;
    --brand-color-gray-icon: #AFB1B8;
    --brand-color-white: #FFFFFF;
    --brand-color-heder-line: #ECECEC;
    --brand-color-address:rgba(255, 255, 255, 0.6);
    --card-set-portfolio: 30px
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}
ul {
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    list-style: none;    
}
.link {
    text-decoration: none;    
    line-height: 1.17;
}
.body-page {    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--brand-color-white);        
    color: var(--brand-color-black-light);   
}

/* Рамка хедера */
.page-header .container{
    display: flex;    
    padding-top: 25px;
    padding-bottom: 24px;
    align-items: center;
}

.page-header {    
    border-bottom: 1px solid var(--brand-color-heder-line);
}

/* Подсветка */
.site-nav .link:hover, .site-nav .link:focus, .site-nav .link.current {
    color: var(--brand-color-blue-light);
}
.site-nav {
    display: flex;
    align-items: center;
    list-style: none;     
}

.site-nav-element + .site-nav-element {
    margin-left: 50px;
}

.navigation {
    display: flex;
}
.site-nav .link {    
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--brand-color-black-light);
}
/* Хедер почта телефон */
.auth-nav {
    margin-left: auto;
    display: flex;
    list-style: none;
}

.auth-nav-element + .auth-nav-element {
 margin-left: 30px;
}

.auth-nav .link {    
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--brand-color-gray);
}
.auth-nav .link:hover, .auth-nav .link:focus {
    color: var(--brand-color-blue-light);       
}
.auth-nav-mail, .auth-nav-phone {
    display: flex;
    align-items: center;
}

.auth-nav-mail-svg {    
    height: 12px;
    width: 16px;
    fill: currentColor;
    margin-right: 10px;
} 
.auth-nav-phone-svg {
    height: 16px;
    width: 10px;
    fill: currentColor;   
    margin-right: 10px;    
}


/* Логотип */
.logo {
    margin-right: 93px;    
    font-size: 26px;
    color: var(--brand-color-black);    
    font-family: 'Raleway', sans-serif;        
}
.logo span{
    color: var(--brand-color-blue-light);
}
/* Герой */
.hero .button {
    display: inline-block;
    padding: 10px 32px;
    margin: 0;
    min-width: 200px;
    color: var(--brand-color-white);
    background: var(--brand-color-blue-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    line-height: 1.88;
}
.hero .button:hover{
    background-color: var(--brand-color-blue-light-hover);
}
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;    
}
.overlay {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    background-image: linear-gradient(
    to right
    ,rgba(47, 48, 58, 0.4)
    ,rgba(47, 48, 58, 0.4))
    ,url(../images/hero.jpg);
    background-color: #C4C4C4;;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {    
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;    
    font-size: 44px;
    font-weight: 900;    
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--brand-color-white);    
}
/* Наша команда */
.personal { 
    background: var(--brand-color-gray-light);
}
.personal-card-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}
.personal-title {    
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;    
    line-height: 1.17;
    text-align: center;    
}
.personal-text {
    margin-bottom: 16px;   
    line-height: 1.17;
    text-align: center;    
    color: var(--brand-color-gray);
}
.personal-card-set {    
    display: flex;   
    list-style: none;
}
.personal-card-item {
     
    background-color: var(--brand-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.personal-card-item + .personal-card-item {
    margin-left: 30px;
}
.personal-card-icon-set {
    display: flex;
    justify-content: center;
}
.personal-card-button { 
    width: 44px;
    height: 44px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--brand-color-gray-icon);
    background: none;    
    border: none;
}
.personal-card-button:hover,
.personal-card-button:focus {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue-light);
    border-radius: 50%;
}
.personal-card-icon-item + .personal-card-icon-item {
    margin-left: 10px;
}
.personal-card-icon {
    fill: currentColor;  
    width: 20px;
    height: 20px;
}
/* Секция картинок */
.section-title {   
    margin-bottom: 50px;    
    font-size: 36px;    
    line-height: 1.17;
    text-align: center;    
}
/* Секция коротких текстов */
.works-list {    
    display: flex;    
}
.works + .works {    
    margin-left: 30px;
}

.works-thumb {
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 270px;
    height: 120px;
    background: var(--brand-color-gray-light);
    border-radius: 4px;
}
.works-svg {    
    width: 70px;
    height: 70px;    
}

.works-title {
    margin-bottom: 10px;   
    font-size: 14px;    
    line-height: 1.17;    
    text-transform: uppercase;
}
.works-text {        
    width: 270px; 
    font-size: 14px;    
    line-height: 1.714;    
    color: var(--brand-color-gray);       
}

/* Секция Постоянные клиенты */
.regular-customers-set {
    display: flex;
    list-style: none;
}
.regular-customers-item-frame {
    cursor: pointer;
    padding: 13px 31px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.regular-customers-item + .regular-customers-item {
    margin-left: 30px;
}

.regular-customers-icon { 
    fill: currentColor;    
    width: 106px;
    height: 60px;
}

.regular-customers-button {
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;    
    width: 170px;
    height: 92px;
    color: var(--brand-color-gray-icon);
    cursor: pointer;    
    border: 1px solid var(--brand-color-gray-icon);
    border-radius: 4px;
    background-color: var(--brand-color-white);
}
.regular-customers-button:hover, 
.regular-customers-button:focus {
    color: var(--brand-color-blue-light);
    border: 1px solid var(--brand-color-blue-light);
    
}

/* Футер */
.logo-footer {
    margin-bottom: 20px;
    display: block;
    color: var(--brand-color-white);    
}
.footer {
    padding: 60px 0;
    background: var(--brand-color-black-dark);    
}
.address,
.address .link {    
    font-size: 14px;
    line-height: 1.71;
    color: var(--brand-color-white);
    font-style: normal;
}
.one {
margin-bottom: 5px;
}

.address .link {    
    display: block;
    color: var(--brand-color-address);
}
.address .link:first-child {
margin-bottom: 5px;
}
.address .link:hover,
.address .link:focus {
    color: var(--brand-color-blue-light);
}

.social-set {
    margin-top: 12px;
    margin-left: 70px;
}
.social-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--brand-color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}


.footer-icon-button {
    width: 44px;
    height: 44px;
    padding: 0;
    display: flex;
    align-items: center; 
    justify-content: center;   
    cursor: pointer;
    color: var(--brand-color-white);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;    
    border: none;
}

.footer-icon-button:hover,
.footer-icon-button:focus {    
    background-color: var(--brand-color-blue-light);
    border-radius: 50%;
}
.footer > .container {
    display: flex;
}
/* Портфолио фильтры*/
.button {
    padding: 6px 22px;  
    margin: 0px 4px;   
    color: var(--brand-color-black-light);
    background: var(--brand-color-gray-light);
    cursor: pointer;
    border: 0;    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    letter-spacing: inherit;    
    border-radius: 4px;    
}
.buttons {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;    
}
.button:hover, .button:focus {
    color: var(--brand-color-white);
    background: var(--brand-color-blue-light);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Портфолио карточки */
.portfolio-card-set-title {
    display: none;
}
.portfolio-card-set {    
    margin-top: calc(-1 * var(--card-set-portfolio));
    margin-left: calc(-1 * var(--card-set-portfolio));
    display: flex;
    flex-wrap: wrap;
}


.portfolio-card:hover, 
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card-item {
    margin-top: var(--card-set-portfolio);
    margin-left: var(--card-set-portfolio);
    flex-basis: calc(100% / 3 - var(--card-set-portfolio));
}

.portfolio-card-content {
    padding: 20px 23px 19px 24px;
    border: 1px solid var(--brand-color-gray-border);
    border-top: none;
}

.portfolio-card-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-card-text {
    line-height: 1.88;
    color: var(--brand-color-gray);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;    
    /* outline: solid tomato; */
}
.section {
    padding: 94px 0;    
}
.no-padding-top  {
    padding-top: 0;
}
.photo-set {    
    list-style: none;
    display: flex;    
}
.photo + .photo {
    margin-left: 30px;
}
.photo-set-thumb {
    position: relative;
}

.photo-set-text {
    color: var(--brand-color-white);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.photo-set-decor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.photo + .photo {
    margin-left: 30px;
}
.card-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-card-overlay {
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.portfolio-card-overlay-text {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
}

.portfolio-card:hover .portfolio-card-overlay {
    transform: translateY(0);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-property: background; */
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 400px;
    min-width: 600px;
    background-color: var(--brand-color-white);
}